
@font-face {
    font-family: ;
 }

body{
    background-image: url(../img/fondoTranquilo.jpg);
    background-repeat: no-repeat;

    margin: 0;
    color: white;
    font-family: "FreeSans";
}

ul{
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}

li{
    box-shadow: 2px 2px 5px rgb(207, 198, 218) ;
    margin: 5px;
    display: inline-block;
    width: 180px;
    height: 54px;
    border-radius: 20px;
    border-bottom: rgb(228, 226, 230)  solid 2px;
    background-color: rgba(121, 121, 121, 0.4);
}

.navButton{
    display: inline-block;
    width: 180px;
    height: 45px;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 0.5px;
}

.navButton:hover{
    transform:translateY(-1px);
    background-color: rgb(134, 92, 145);
    color: white;
}

.navButtonImagen:hover{
    transform:translateY(-1px);
    background-color: rgb(134, 92, 145);
    color: white;
}

#navButtonImagen{
    display: inline-block;
    width: 180px;
    height: 51px;
    border-radius: 20px;
    margin-top: 0.5px;
}

li:hover{
    transform:translateY(-4px);
    background-color: rgb(134, 92, 145);
    color: white;
}

#navUL{
    height: 54px;
    display: inline;
}

#navDiv{
    font-size: 17px;
    background-size: cover;
    top: 0;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(40px);
    text-align: center;
    box-shadow: 2px 2px 5px #3b264d;
    margin-bottom:50px;
    padding-bottom: 20px;
    padding-top: 8px;
    background-color: rgba(24, 24, 24, 0.7);
    border-radius: 0px 0px 90px 90px;
    width: 1700px;
    margin-left: 100px;
}

#navImg{
    width: 50px;
}

#mainDiv{
    color: white;
    margin-top: 175px;
    width: 1050px;
    margin-left: 450px;
    background-color: rgba(24, 24, 24, 0.8);
    border-radius: 20px;
    box-shadow: 5px 5px 100px white;
    backdrop-filter: blur(40px);
}

.navButton{
    color: white;
    font-size: larger;
    font-weight: bold;
}

#navImg:hover{
    transform: scale(1.06);
}

a{
    text-decoration: none;
}

footer{
    color: rgb(214, 221, 221);
    backdrop-filter: blur(40px);
    text-align: center;
    box-shadow: 2px 2px 5px white;
    padding-bottom: 20px;
    border-radius: 5px;
    padding-top: 10px;
    background-color: rgb(56, 56, 56, 0.5);
}

#indexAImg:hover{
    transform: scale(1.05);
}

#indexAImg{
    width: 150px;
    position: fixed;
    left: 40px;
    bottom: 40px;
    z-index: 1;
    border-radius: 200px;
    box-shadow: 2px 2px 100px #fac6ff;

}