body{
    background-image: url(../img/fondoArboles.jpg);
    background-size: auto;
    margin: 0;
    color: #1f1003;
}

ul{
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}

li{
    box-shadow: 2px 2px 5px;
    margin: 5px;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    
}

li, a{
    display: inline-block;
    width: 180px;
   height: 54px;
   border-radius: 20px;
   background-color: rgba(185, 221, 255, 0.2);
   vertical-align: middle;
}

#navUL{
    height: 54px;
    display: inline;
}

#navDiv{
    backdrop-filter: blur(40px);
    text-align: center;
    box-shadow: 2px 2px 5px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 8px;
    background-color: rgba(231, 252, 233, 0.2);
    border-radius: 0px 0px 90px 90px;
    width: 1700px;
    margin-left: 100px;
}

#navImg{
    width: 50px;
}

#mainDiv{
    width: 1050px;
    margin-left: 450px;
    background-color: rgba(170, 236, 178, 0.2);
}

nav li a:hover{
    background-color:rgb(198, 173, 148, 60%);
    color: white;
}

.navButton{
    color: #10161b;
    font-size: x-large;
    font-weight: bold;
}

a{
    text-decoration: none;
}

