.imagenIndex{
    width: 400px;
    float: right;
    position: relative;
    box-shadow: 2px 2px 5px white;
}

#mainDiv{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
    margin-bottom: 50px;
}

#textoDiv1{
    margin-top: 45px;
}

#textoDiv2{
    margin-top: 23px;
}

.textoDiv{
    width: 450px;
    position: absolute;
    margin-left: 20px;
}

.textoMasImagen{
    align-content: center;
    display: inline-block;
    width: 900px;
    height: 225px;
    box-shadow: 2px 2px 5px white;
    background-color: rgba(230, 235, 235, 0.1);
}

#divQueEsDofus{
    margin-top: 50px;
}

.marginDiv{
    margin-bottom: 50px;
}

h1{
    box-shadow: 2px 2px 5px white;
    margin: 20px;
    padding: 10px;
    background-color: rgba(248, 255, 255, 0.1);
    font-size:x-large;
}

.imagenIndex:hover{
    transform: scale(1.02);
}

#imagenIndex3{
    filter: brightness(80%);
}
